body{
    font-weight: bold;
}

.search{
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}

input{
    height: 30px;
    border-radius: 30px;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    color: rgb(68, 67, 67);
}
.search button{
    background-color: transparent;
    font-size: 30px;
    border: none;
    padding: 0;
    cursor: pointer;
}

.card{
    text-align: center;
    width: 90%;
    max-width: fit-content;
    background: linear-gradient(rgb(142, 243, 243),rgb(142, 142, 233));
    margin: 100px auto;
    border-radius: 20px;
    padding: 40px 35px;
}
.weather{
    display: none;
}
.weather img{
    margin-top: 10px;
    width: 200px;
    padding: 0;
}
.weather h1,h2{
    margin: 0;
}

.col{
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align:start;
    display: flex;
}

.col img{
    width: 40px;
}
.col p{
    font-size: 18px;
    margin: 2px;
    margin-top: 5px;
    margin-left: 5px;
}
.details{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}